In [1]:
ch= input ("Enter a character")

Enter a characterf

In [2]:
if ch in "a e i o u AEIOU":
   print("vowel")
else:
     print("consunant")

consunant

In [ ]:
x=[10,20, 'john',10.5,True,80]
print(x[0])
print(x[1])
print(x[4])

In [ ]:
print(x[1:5])
print(20, 'john')
print(x[0:5])

In [ ]:
x=[10,30,90,30,]

In [ ]:
print(30)

In [ ]:
x.pop(0)

In [ ]:
print(x)

In [10]:
name="Anand"

for i in range (30):
    print(name)

Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand
Anand

In [9]:
# for loop 
for i in range (15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [8]:
# looping 

l1=[10,20,30,40,50,60,70,]

for i in l1:
    i=i+3
    print(i)
print(" this is a book")

13
23
33
43
53
63
73
 this is a book

In [7]:
l1=[10,20,30,40,50,60,70]
max_no=l1 [0]
    
for i in l1:
      if 1>max_no:
        max_no=i
print(max_no)

10

In [ ]:
#find the even and odd number in a list and store them in different list.

In [6]:
list1=[20,25,70,55,60,42,5,60,7,10]
even_no=[]
odd_no=[]

for i in list1:
    if i%2==0:
        even_no.append(i)
    else:
        odd_no.append(i)
print(even_no)
print(odd_no)

[20, 70, 60, 42, 60, 10]
[25, 55, 5, 7]

In [ ]:
#count how many even and no.are in this list

In [5]:
list1 = [10,21, 4, 45,66,93,1]
even_count =0
odd_count=0
for num in list1:
    if num % 2 ==0:
        even_count+=1
    else:
        odd_count+=1
print ("Even numbers in the list :" , even_count)
print("odd numbers in the list :" ,odd_count)

Even numbers in the list : 3
odd numbers in the list : 4

In [ ]:
#create a multiplication table in python
num=int(input("enter a number to print multiplication table"))
for i in range(1,11):
    print(num)("x," "=", num*i)

In [4]:
rows=6
#ifyou want user to enter a number, uncomment the below line 
# rows= int(input('Enter the number of rows'))
# outer loop 
for i in range(rows):
    # nested loop
    for j in range(i):
        #display number
        print(i, end='')

122333444455555

In [2]:
L1 = ["red", "big","tasty"]
fruits = ["apple", "banana" , "cherry"]
for i in L1:
    for j in fruits:
         print(i,j)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [3]:
# number of rows
rows=5 
for i in range(0,rows):
    # nested loop for each column 
    for j in range(0,i + 1):
        # print star
        print("*" , end=' ')

* * * * * * * * * * * * * * *